



#active{
    background-color: cornflowerblue;
    color: whitesmoke;
}

button {
  border-radius: 4px;
  background-color: #F0C869;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}





button:hover span {
  padding-right: 20px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

button span {
  cursor: pointer;
  display: inline-block;
  transition: 0.4s;
}

button span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

body {
    background-color: ghostwhite;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: auto;
    text-align: center;
}

.masthead {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  background-image: url(../img/panels.jpeg);
  color: white;
  font-size: 30px;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #000000;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

h1 {
font-family: 'Kiwi Maru', serif;
color: white;
}

h2 {
font-family: 'Kiwi Maru', serif;
color: black;
}


.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}


footer {
  margin: auto;
  width: 960px;
  margin: auto;
  text-align: center;
}
    

@media only screen and (max-width: 30rem) {
    
    font-size: 0.75rem;
    text-align: left;
    column-gap: 2rem;

}

@media (min-device-width: 30rem) and (max-device-width: 60rem)  {
    font-size: 1.0rem;
    
    img {
      width: 40%;
      float: right;
      word-wrap: normal;
  }
    
    li {
  float: left;
}
}
